<header>
  <h1>Jasmine is a BOSS</h1>
</header>

<section>
  <article>
    <h2>1. Reason why she is the best</h2>
    <p>Laborum magna in fugiat ullamco culpa exercitation sint ut eiusmod eu ex ut ea ex. Nulla labore laborum proident occaecat. Incididunt velit enim aliqua qui proident est ea culpa exercitation magna ut enim eiusmod. Quis consequat velit qui fugiat reprehenderit non amet. Aliqua sunt ut qui dolore dolore reprehenderit irure adipisicing eu ea reprehenderit.</p>
  </article>
  <article>
    <h2>2. Reason why she is the best</h2>
    <p>Laborum magna in fugiat ullamco culpa exercitation sint ut eiusmod eu ex ut ea ex. Nulla labore laborum proident occaecat. Incididunt velit enim aliqua qui proident est ea culpa exercitation magna ut enim eiusmod. Quis consequat velit qui fugiat reprehenderit non amet. Aliqua sunt ut qui dolore dolore reprehenderit irure adipisicing eu ea reprehenderit.</p>
  </article>
  <article>
    <h2>3. Reason why she is the best</h2>
    <p>Laborum magna in fugiat ullamco culpa exercitation sint ut eiusmod eu ex ut ea ex. Nulla labore laborum proident occaecat. Incididunt velit enim aliqua qui proident est ea culpa exercitation magna ut enim eiusmod. Quis consequat velit qui fugiat reprehenderit non amet. Aliqua sunt ut qui dolore dolore reprehenderit irure adipisicing eu ea reprehenderit.</p>
  </article>
</section>

